<footer class="bg-dark text-white py-5">
    <div class="container">
        <nav class="row justify-content-center">
          
           <h1>Taskboard</h1>
           <ul class="col-4 list-unstyled">
               <li class="font-weight-bold text-uppercase">About Us</li>
               <p>This is a project
                   <br>
                   of BIT</p>
           </ul>

           <ul class="col-4 list-unstyled">
            <li class="font-weight-bold text-uppercase" class="text">INSTITUTE</li>
            <img class="bit " src="/assets/bit.png" alt="">
        </ul>

        <ul class="col-4 list-unstyled d-flex justify-content-between">
            <li class="font-weight-bold text-uppercase">Social Media</li>
            <li><a href="#" class="text-reset"><i class='bx bxl-facebook-circle' style='color:#ffffff'  ></i></a></li>
            <li><a href="#" class="text-reset"><i class='bx bxl-twitter'></i></a></li>
            <li><a href="#" class="text-reset"><i class='bx bxl-instagram-alt'></i></a></li>
            <li><a href="#" class="text-reset"><i class='bx bxl-github'></i></a></li>
        </ul>


        </nav>

    </div>
</footer>
